<!-- Call To Action -->
<section class="cta" id="cta">
  <div data-jarallax data-speed="0.2" class="jarallax">
    <img src="../../assets/img/cta/cta-pexels-photo-57690.jpg" alt="Jarallax" data-speed="0.7" class="jarallax-img jarallax-img--darken">
    <div class="jarallax__content d-flex justify-content-center align-items-center" data-aos="fade" data-aos-delay="300" data-aos-duration="1000">
      <span class="subtitle">I'm available</span>
      <h2>Let’s start a project together!</h2>
      <a href="#contact" class="btn btn-outline-primary btn--wider mt-4 smoothscroll">Contact Me</a>
    </div>
  </div>
</section>
<!-- /Call To Action -->
