<!-- About -->
<section
  class="about pt-0 pt-md-10"
  data-aos="fade"
  data-aos-delay="300"
  data-aos-duration="1000"
  id="about">
  <div class="container">
    <div class="row">
<!--      <div class="col-md-3 d-flex align-items-md-center">-->
<!--        <div class="profile-photo">-->
<!--          <img-->
<!--            alt="Profile picture"-->
<!--            src="../../assets/img/about/about-unsplash-ILip77SbmOE.jpg">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-1 pb-3 pb-md-0">-->
<!--        <div class="social-channels">-->
<!--          <ul>-->
<!--            <li><a href="#!"><i class="lni-facebook-filled"></i></a></li>-->
<!--            <li><a href="#!"><i class="lni-behance-original"></i></a></li>-->
<!--            <li><a href="#!"><i class="lni-instagram-original"></i></a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->
      <div class="col-md-8">
        <div class="bio">
          <span class="subtitle">My name is Aaron</span>
          <h2>I develop creative <br>digital projects</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque consequuntur cupiditate, eum expedita harum iusto maiores nostrum omnis quos repellendus sunt tenetur velit. A ea fugiat quisquam sit voluptas!:</p>
          <ul class="list-inline-check">
            <li>JavaScript</li>
            <li>Angular</li>
            <li>Node.js</li>
            <li>MongoDB</li>
            <li>HTML</li>
            <li>CSS</li>
          </ul>
          <div class="row mt-0 mt-md-5">
            <div class="col-md-12">
              <a class="btn btn-primary btn--shadow mr-3" target="_blank" href="https://drive.google.com/open?id=16eisqYdmssj4yC7W8R86urrjLsfIA7st"><i class="lni-download"></i>
                Download Resume</a>
              <a
                class="btn btn-outline-primary btn--shadow smoothscroll"
                href="#contact"><i
                class="lni-coffee-cup"></i> Invite me for coffee</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5 mt-sm-10">
      <div class="col-md-4">
        <div class="experiences">
          <div class="row">
            <div class="col-md-12">
              <h3 class="title-line">Work Experience</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="experience">
                <div class="experience__organization">
                  SnapIt Solutions
                </div>
                <div class="experience__time">
                  &nbsp;
                </div>
                <div class="experience__info">
                  <div class="experience__jobtitle">
                    Developer
                  </div>
                  <div class="experience__period">
                    <small>2019 - 2020</small>
                  </div>
                  <ul class="experience__tasks list-inline-check">
                    <li>Participated in planning meetings</li>
                    <li>Created design mock-ups using Balsamiq</li>
                    <li>Built front-end applications using Angular</li>
                    <li>Created deployment pipelines for applications using
                      GitLab</li>
                    <li>Created production environments using AWS</li>
                    <li>Deployed applications to AWS</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="col-md-8">-->
<!--        <div class="skills mt-5 mt-md-0">-->
<!--          <div class="row">-->
<!--            <div class="col-md-12">-->
<!--              <h3 class="title-line">My skills</h3>-->
<!--              <div class="bar mb-5">-->
<!--                <span class="bar-label">Design</span>-->
<!--                <span class="bar-progress">70%</span>-->
<!--                <div class="progress">-->
<!--                  <div-->
<!--                    aria-valuemax="100"-->
<!--                    aria-valuemin="0"-->
<!--                    aria-valuenow="70"-->
<!--                    class="progress-bar"-->
<!--                    role="progressbar"-->
<!--                    style="width: 70%"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bar mb-5">-->
<!--                <span class="bar-label">Development</span>-->
<!--                <span class="bar-progress">80%</span>-->
<!--                <div class="progress">-->
<!--                  <div-->
<!--                    aria-valuemax="100"-->
<!--                    aria-valuemin="0"-->
<!--                    aria-valuenow="80"-->
<!--                    class="progress-bar"-->
<!--                    role="progressbar"-->
<!--                    style="width: 80%"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="bar mb-5">-->
<!--                <span class="bar-label">Marketing</span>-->
<!--                <span class="bar-progress">95%</span>-->
<!--                <div class="progress">-->
<!--                  <div-->
<!--                    aria-valuemax="100"-->
<!--                    aria-valuemin="0"-->
<!--                    aria-valuenow="95"-->
<!--                    class="progress-bar"-->
<!--                    role="progressbar"-->
<!--                    style="width: 95%"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-6 col-md-4">-->
<!--              <div class="bar bar&#45;&#45;circle mb-5">-->
<!--                <div class="progress" data-value='75'>-->
<!--                  <div class="bar-progress">75%</div>-->
<!--                  <span class="progress-left">-->
<!--                                                <span class="progress-bar border-primary">&nbsp;</span>-->
<!--                                            </span>-->
<!--                  <span class="progress-right">-->
<!--                                                <span class="progress-bar border-primary">&nbsp;</span>-->
<!--                                            </span>-->
<!--                </div>-->
<!--                <div class="bar-label">Design</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-6 col-md-4">-->
<!--              <div class="bar bar&#45;&#45;circle mb-5">-->
<!--                <div class="progress" data-value='80'>-->
<!--                  <div class="bar-progress">80%</div>-->
<!--                  <span class="progress-left">-->
<!--                                                <span class="progress-bar border-primary">&nbsp;</span>-->
<!--                                            </span>-->
<!--                  <span class="progress-right">-->
<!--                                                <span class="progress-bar border-primary">&nbsp;</span>-->
<!--                                            </span>-->
<!--                </div>-->
<!--                <div class="bar-label">Management</div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-12 col-md-4">-->
<!--              <div class="bar bar&#45;&#45;circle mb-5">-->
<!--                <div class="progress" data-value='95'>-->
<!--                  <div class="bar-progress">95%</div>-->
<!--                  <span class="progress-left">-->
<!--                                                <span class="progress-bar border-primary">&nbsp;</span>-->
<!--                                            </span>-->
<!--                  <span class="progress-right">-->
<!--                                                <span class="progress-bar border-primary">&nbsp;</span>-->
<!--                                            </span>-->
<!--                </div>-->
<!--                <div class="bar-label">Photography</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>

<!--    <div class="services mt-3 mt-md-5">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12">-->
<!--          <h3 class="title-line">Services</h3>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-md-4 mb-4 mb-md-0">-->
<!--          <h5 class="title-line"><i class="lni-brush"></i> Digital Design</h5>-->
<!--          <p>Nullam sollicitudin velit id odio sagittis porttitor. Nullam orci-->
<!--            risus, vehicula condimentum dapibus eget, commodo quis tellus.</p>-->
<!--        </div>-->
<!--        <div class="col-md-4 mb-4 mb-md-0">-->
<!--          <h5 class="title-line"><i class="lni-code"></i> Development</h5>-->
<!--          <p>Nullam sollicitudin velit id odio sagittis porttitor. Nullam orci-->
<!--            risus, vehicula condimentum dapibus eget, commodo quis tellus.</p>-->
<!--        </div>-->
<!--        <div class="col-md-4 mb-5 mb-md-0">-->
<!--          <h5 class="title-line"><i class="lni-diamond"></i> Online Marketing-->
<!--          </h5>-->
<!--          <p>Nullam sollicitudin velit id odio sagittis porttitor. Nullam orci-->
<!--            risus, vehicula condimentum dapibus eget, commodo quis tellus.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</section>
<!-- /About -->
