<!-- Hero -->
<section class="hero mb-4 mb-md-5">
  <div
    class="hero__wrapper d-flex align-items-center"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../assets/img/hero/bg.jpg');"
    data-aos="fade"
    data-aos-delay="800"
    data-aos-duration="1000">
    <div class="container">
      <div class="hero__text">
        <div
          class="subtitle"
          data-aos="fade-right"
          data-aos-delay="800"
          data-aos-duration="900">
          Nice to meet you
        </div>
        <h1 data-aos="fade" data-aos-delay="1400" data-aos-duration="1000">
          Aaron Shivers</h1>
        <p
          class="lead"
          data-aos="fade-right"
          data-aos-delay="1800"
          data-aos-duration="900">I'm a <span>Web Developer</span></p>
        <a
          class="btn btn-outline-light btn--wider mt-4 smoothscroll"
          data-aos="fade"
          data-aos-delay="2600"
          data-aos-duration="1000"
          href="#contact">Hire Me</a>
      </div>
      <div class="ui-scroll" id="ui-scroll">
        <small>Scroll</small>
        <span class="scroll-icon">
          <span class="scroll-icon__wheel-outer">
            <span class="scroll-icon__wheel-inner">&nbsp;</span>
          </span>
        </span>
      </div>
    </div>
  </div>
</section>
<!-- /Hero -->
