<!-- Blog Featured -->
<section class="blog-featured pt-5 pb-5 mt-md-10 pb-md-10 pt-md-10 bg-f bg-f--skewbottom bg-f--secondary" id="blog-featured">
  <div class="container">
    <div class="row justify-content-md-center d-flex">
      <div class="col-md-12">
        <div class="col-md-12 mb-md-10">
          <span class="subtitle justify-content-center d-flex">What i’m passionate about</span>
          <h2 class="justify-content-center d-flex">My Latest Posts</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <a href="single-blog.html" class="featured__link">
          <div class="featured__item featured__item--1">
            <div class="item__image">
              <img src="../../assets/img/blog/blog-pexels-1407305.jpg" alt="image" />
            </div>
            <div class="featured__content">
              <span class="featured__category">Lifestyle</span>
              <h3 class="featured__title">Why you should visit the forest for creativity</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-12 col-lg-4">
        <div class="row">
          <div class="col-md-12">
            <a href="single-blog.html" class="featured__link">
              <div class="featured__item featured__item--2">
                <div class="item__image">
                  <img src="../../assets/img/blog/blog-pexels-1105352.jpg" alt="image" />
                </div>
                <div class="featured__content">
                  <span class="featured__category">Lifestyle</span>
                  <h4 class="featured__title">How to design for religion</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="single-blog.html" class="featured__link">
              <div class="featured__item featured__item--3">
                <div class="item__image">
                  <img src="../../assets/img/blog/blog-pexels-1078058.jpg" alt="image" />
                </div>
                <div class="featured__content">
                  <span class="featured__category">Lifestyle</span>
                  <h4 class="featured__title">5 tips for developers</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Blog Featured -->
