<!-- Contact -->
<section class="contact" id="contact">
  <div class="contact__image d-flex align-items-center" style="background-image: url('../../assets/img/contact/contact-pexels-photo-2878707.jpg');">
    <div class="container">
      <div class="contact__wrapper">
        <div class="row justify-content-md-center d-flex">
          <div class="col-md-12">
            <div class="col-md-12 mb-5">
              <span class="subtitle justify-content-center d-flex">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
              <h2 class="justify-content-center d-flex">Get in touch with me</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="contact-methods">
              <li><i class="lni-envelope"></i> <a href="#">Mail</a>&nbsp;me at my@email.address</li>
              <li><i class="lni-phone-handset"></i> <a href="#">Call</a>&nbsp;me at 123412341234</li>
              <li><i class="lni-map"></i> <a href="#">Visit</a>&nbsp;me at the office</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form name="contact" netlify>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input name="name" type="text" class="form-control" id="inputName" placeholder="Name">
                  <div class="input-border"></div>
                </div>
                <div class="form-group col-md-6">
                  <input name="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                  <div class="input-border"></div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <textarea name="message" class="form-control" id="textarea" placeholder="Message..." rows="10"></textarea>
                  <div class="input-border"></div>
                </div>
              </div>
              <div class="form-row mt-5">
                <div class="col-md-12 justify-content-md-center d-flex">
                  <button type="submit" class="btn btn-primary btn--shadow btn--wider">Send Message</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Contact -->
