<!-- Pricing -->
<section class="pricing mt-md-10 mb-md-10 mt-5 pt-5" id="pricing">
  <div class="container">
    <div class="row justify-content-md-center d-flex">
      <div class="col-md-12">
        <div class="col-md-12 mb-5">
          <span class="subtitle justify-content-center d-flex">Hire me as your freelancer</span>
          <h2 class="justify-content-center d-flex">Pricing</h2>
        </div>
      </div>
    </div>
    <div class="pricing-tables">
      <div class="row mb-5">
        <div class="col-md-12 col-lg-4">
          <div class="pricing-table">
            <span class="subtitle">Visual Design</span>
            <div class="price">
              <span>$</span> 99
            </div>
            <h4 class="title-line">Branding & identity</h4>
            <ul>
              <li>3 logo designs you can pick from. All logo’s are full colour in .EPS format.</li>
              <li>Recommidation for matching fonts that pair well together.</li>
              <li>Visual guide that you can edit.</li>
            </ul>
            <a href="#contact" class="btn btn-primary btn--shadow btn--wider smoothscroll">Hire Me</a>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="pricing-table">
            <span class="subtitle">Profesional Website</span>
            <div class="price">
              <span>$</span> 250
            </div>
            <h4 class="title-line">WordPress Theme</h4>
            <ul>
              <li>You can pick a WordPress theme from Themeforest and i’ll install it.</li>
              <li>Default theme options will be entered with your organizations information.</li>
              <li>Support within 48 hours.</li>
            </ul>
            <a href="#contact" class="btn btn-primary btn--shadow btn--wider smoothscroll">Hire Me</a>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="pricing-table">
            <span class="subtitle">Enterprise Website</span>
            <div class="price">
              <span>$</span> 1999
            </div>
            <h4 class="title-line">Full Custom Website</h4>
            <ul class="usp">
              <li>Custom designed and built website in static site generator with CMS.</li>
              <li>Progressive Web App included written in Vue.js.</li>
              <li>Support within 8 hours</li>
            </ul>
            <a href="#contact" class="btn btn-primary btn--shadow btn--wider smoothscroll">Hire Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Pricing -->
