<!-- Portfolio -->
<section class="portfolio bg-f bg-f--skewbottom bg-f--secondary pt-5 mt-5 pb-2 mt-md-10 mb-md-10 pt-md-10 pb-md-10" id="portfolio">
  <div class="container">
    <div class="row justify-content-md-center d-flex">
      <div class="col-md-12 mb-3 mb-md-5">
        <span class="subtitle justify-content-center d-flex">Eat, sleep, create, repeat</span>
        <h2 class="justify-content-center d-flex">My Work</h2>
      </div>
    </div>
    <div class="row mb-0 mb-md-5">
      <div class="col-md-12">
        <div class="portfolio__filters justify-content-md-center d-flex text-center">
          <a href="#" data-filter="*" class="current">All</a>
          <a href="#" data-filter=".full-stack">Full-Stack</a>
          <a href="#" data-filter=".digital">Digital</a>
          <a href="#" data-filter=".design">Design</a>
          <a href="#" data-filter=".photography">Photography</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="portfolio__container">
          <a href="single-portfolio.html" class="grid-item full-stack">
            <div class="portfolio__item">
              <div class="item__image">
                <img src="../../assets/img/portfolio/portfolio-1.webp" alt="image" />
              </div>
              <div class="item__content">
                <div class="item__category"><span>Full-Stack</span></div>
                <div class="item__title"><span>Items Application<i class="lni-arrow-right"></i></span></div>
              </div>
            </div>
          </a>

          <a href="single-portfolio.html" class="grid-item design">
            <div class="portfolio__item">
              <div class="item__image">
                <img src="../../assets/img/portfolio/portfolio-2.webp" alt="image" />
              </div>
              <div class="item__content">
                <div class="item__category"><span>Design</span></div>
                <div class="item__title"><span>Desks by Design <i class="lni-arrow-right"></i></span></div>
              </div>
            </div>
          </a>

          <a href="single-portfolio.html" class="grid-item full-stack digital">
            <div class="portfolio__item">
              <div class="item__image">
                <img src="../../assets/img/portfolio/portfolio-3.jpg" alt="image" />
              </div>
              <div class="item__content">
                <div class="item__category"><span>Digital</span></div>
                <div class="item__title"><span>United Nature Identity <i class="lni-arrow-right"></i></span></div>
              </div>
            </div>
          </a>

          <a href="single-portfolio.html" class="grid-item photography">
            <div class="portfolio__item">
              <div class="item__image">
                <img src="../../assets/img/portfolio/portfolio-4.jpg" alt="image" />
              </div>
              <div class="item__content">
                <div class="item__category"><span>Photography</span></div>
                <div class="item__title"><span>Product Images Drones <i class="lni-arrow-right"></i></span></div>
              </div>
            </div>
          </a>

          <a href="single-portfolio.html" class="grid-item photography full-stack">
            <div class="portfolio__item">
              <div class="item__image">
                <img src="../../assets/img/portfolio/portfolio-5.jpg" alt="image" />
              </div>
              <div class="item__content">
                <div class="item__category"><span>Full-Stack</span></div>
                <div class="item__title"><span>Feather on the Road <i class="lni-arrow-right"></i></span></div>
              </div>
            </div>
          </a>

          <a href="single-portfolio.html" class="grid-item design full-stack">
            <div class="portfolio__item">
              <div class="item__image">
                <img src="../../assets/img/portfolio/portfolio-6.jpg" alt="image" />
              </div>
              <div class="item__content">
                <div class="item__category"><span>Full-Stack</span></div>
                <div class="item__title"><span>Concept Sketches <i class="lni-arrow-right"></i></span></div>
              </div>
            </div>
          </a>

          <a href="single-portfolio.html" class="grid-item photography">
            <div class="portfolio__item">
              <div class="item__image">
                <img src="../../assets/img/portfolio/portfolio-7.jpg" alt="image" />
              </div>
              <div class="item__content">
                <div class="item__category"><span>Photography</span></div>
                <div class="item__title"><span>Product Images Camera <i class="lni-arrow-right"></i></span></div>
              </div>
            </div>
          </a>

          <a href="single-portfolio.html" class="grid-item full-stack design">
            <div class="portfolio__item">
              <div class="item__image">
                <img src="../../assets/img/portfolio/portfolio-8.jpg" alt="image" />
              </div>
              <div class="item__content">
                <div class="item__category"><span>Full-Stack, Design</span></div>
                <div class="item__title"><span>React Website <i class="lni-arrow-right"></i></span></div>
              </div>
            </div>
          </a>

          <a href="single-portfolio.html" class="grid-item digital">
            <div class="portfolio__item">
              <div class="item__image">
                <img src="../../assets/img/portfolio/portfolio-9.jpg" alt="image" />
              </div>
              <div class="item__content">
                <div class="item__category"><span>Digital</span></div>
                <div class="item__title"><span>Interface Design <i class="lni-arrow-right"></i></span></div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Portfolio -->
