<div class="container">
  <div class="box">
    <h1 class="title">Aaron Shivers</h1>
  </div>

  <div class="box">
    <h2 class="subtitle">web developer</h2>
  </div>

  <h2>Projects</h2>

  <ul>
    <li>
      <a href="https://ng-task-app.netlify.com/" target="_blank">Task App</a>
    </li>
    <li>
      <a href="https://ng-items.now.sh/" target="_blank">Items App</a>
    </li>
  </ul>

  <h2>Links</h2>

  <ul>
    <li>
      <a href="https://github.com/aaronshivers">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/aaron-shivers/">LinkedIn</a>
    </li>
  </ul>
</div>
