<h1>Aaron Shivers</h1>

<h4>Hey there. Sorry there isn't more to look at, but I just created this site yesterday. If you come back tomorrow, I promise there will be more.</h4>


<h2>Projects</h2>

<ul>
  <li>
    <a href="https://timesheet-v2.herokuapp.com/" target="_blank">Timesheet App</a>
  </li>
  <li>
    <a href="https://ng-task-app.netlify.com/" target="_blank">Task App</a>
  </li>
  <li>
    <a href="https://ng-items.now.sh/" target="_blank">Items App</a>
  </li>
</ul>

<h2>Links</h2>

<ul>
  <li>
    <a href="https://github.com/aaronshivers">GitHub</a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/aaron-shivers/">LinkedIn</a>
  </li>
  <li>
    <a href="https://drive.google.com/open?id=1GGK4peTqHy4NYBt2hcPSlEgQjWw9IB9b">Resume</a>
  </li>
</ul>
