<div class="container">
  <div class="box box--primary">
    <h1 class="header header--large">Aaron Shivers</h1>
  </div>

  <div class="box box--primary">
    <h2 class="header header--medium">web developer</h2>
  </div>

  <div class="box box--secondary">
    <h2 class="header header--small">Projects</h2>
  </div>

  <ul>
    <li>
      <a href="https://ng-task-app.netlify.com/" target="_blank">Task App</a>
    </li>
    <li>
      <a href="https://ng-items.now.sh/" target="_blank">Items App</a>
    </li>
  </ul>

  <div class="box box--secondary">
    <h2 class="header header--small">Links</h2>
  </div>

  <ul>
    <li>
      <a href="https://github.com/aaronshivers">GitHub</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/aaron-shivers/">LinkedIn</a>
    </li>
  </ul>
</div>
