<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top addscrollspy" id="navbar">

  <div class="navbar-brand font-weight-bolder mr-xl-3">
    <img [src]="'assets/img/triangle-default.svg'" alt="triangle" class="navbar-logo navbar-logo--default">
    <img [src]="'assets/img/triangle-inverted.svg'" alt="triangle" class="navbar-logo navbar-logo--inverted">
  </div>
  <button
    aria-controls="navbars-default"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-light navbar-toggler"
    data-target="#navbars-default"
    data-toggle="collapse"
    type="button">
  <span class="navbar-toggler-icon">
    <span class="burger">
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </span>
  </span>
  </button>
  <div class="collapse navbar-collapse ml-auto mr-auto" id="navbars-default">
    <ul class="navbar-nav ml-auto mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="index.html#index">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="index.html#portfolio">Portfolio</a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="index.html#pricing">Pricing</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="index.html#testimonials">Testimonials</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="index.html#blog-featured">Blog</a>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="index.html#contact">Contact</a>
      </li>
    </ul>
    <span class="navbar__slideline" id="slideline"></span>

  </div>
</nav>
<!-- /Navigation -->
