<!-- Testimonials -->
<section class="testimonials overflow-hidden pt-5 pt-md-10 mb-md-10" id="testimonials">
  <div class="row justify-content-md-center d-flex">
    <div class="col-md-12">
      <div class="col-md-12 mb-5">
        <span class="subtitle justify-content-center d-flex">Experiences from other clients</span>
        <h2 class="justify-content-center d-flex">Testimonials</h2>
      </div>
    </div>
  </div>

  <div class="owl-testimonials owl-theme owl-carousel">
    <div class="testimonial item">
      <div class="testimonial__quote">
        <p>Anthony is a high-skilled proffesional that created our WordPress website. He also designed our branding & identity together with a style guide that we use.</p>
      </div>
      <div class="testimonial__img">
        <img src="../../assets/img/testimonials/testimonials-avatar-1.jpg" alt="Testimonial profile photo" class="rounded-circle" />
      </div>
      <div class="testimonial__name">
        <h5>Jane Smith</h5>
      </div>
      <div class="testimonial-job">
        <small>CEO Envato</small>
      </div>
    </div>
    <div class="testimonial item">
      <div class="testimonial__quote">
        <p>We needed a static site for our whitepaper publication. Anthony fully created the site for us and we can edit the content with a CMS. Now we are superfast! </p>
      </div>
      <div class="testimonial__img">
        <img src="../../assets/img/testimonials/testimonials-avatar-2.jpg" alt="Testimonial profile photo" class="rounded-circle" />
      </div>
      <div class="testimonial__name">
        <h5>Sandra Jones</h5>
      </div>
      <div class="testimonial__job">
        <small>CTO Bitmania</small>
      </div>
    </div>
    <div class="testimonial item">
      <div class="testimonial__quote">
        <p>Whenever we need an extra hand we call Anthony. He never missed a deadline and his quality is outstanding. He’s the most talented freelancer you can get. </p>
      </div>
      <div class="testimonial__img">
        <img src="../../assets/img/testimonials/testimonials-avatar-3.jpg" alt="Testimonial profile photo" class="rounded-circle" />
      </div>
      <div class="testimonial__name">
        <h5>Mike Baker</h5>
      </div>
      <div class="testimonial-job">
        <small>Developer Slashdown</small>
      </div>
    </div>
    <div class="testimonial item">
      <div class="testimonial__quote">
        <p>We found Anthony on Behance. We we're very inspired by his logo design and creative concepts. Working with him was very cool because he's very talented. </p>
      </div>
      <div class="testimonial__img">
        <img src="../../assets/img/testimonials/testimonials-avatar-4.jpg" alt="Testimonial profile photo" class="rounded-circle" />
      </div>
      <div class="testimonial__name">
        <h5>John Doe</h5>
      </div>
      <div class="testimonial-job">
        <small>Designer Themeforest</small>
      </div>
    </div>
  </div>

</section>
<!-- /Testimonials -->
