<!-- Testimonials -->
<section class="testimonials overflow-hidden pt-5 pt-md-10 mb-md-10" id="testimonials">
  <div class="row justify-content-md-center d-flex">
    <div class="col-md-12">
      <div class="col-md-12 mb-5">
        <span class="subtitle justify-content-center d-flex">Experiences from other clients</span>
        <h2 class="justify-content-center d-flex">Testimonials</h2>
      </div>
    </div>
  </div>

  <div class="owl-testimonials owl-theme owl-carousel">
    <div class="testimonial item">
      <div class="testimonial__quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis inventore nesciunt praesentium quia voluptatibus. Distinctio dolor enim explicabo illum iure laboriosam minima minus numquam optio quae, tempora vitae! Quos, ratione?</p>
      </div>
      <div class="testimonial__img">
        <img src="../../assets/img/testimonials/testimonials-avatar-1.jpg" alt="Testimonial profile photo" class="rounded-circle" />
      </div>
      <div class="testimonial__name">
        <h5>Jane Smith</h5>
      </div>
      <div class="testimonial-job">
        <small>CEO</small>
      </div>
    </div>
    <div class="testimonial item">
      <div class="testimonial__quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At incidunt laudantium modi optio quia quidem veritatis! Alias dicta earum facere illum laudantium minus necessitatibus, neque nisi odio quod tempore voluptatum.</p>
      </div>
      <div class="testimonial__img">
        <img src="../../assets/img/testimonials/testimonials-avatar-2.jpg" alt="Testimonial profile photo" class="rounded-circle" />
      </div>
      <div class="testimonial__name">
        <h5>Sandra Jones</h5>
      </div>
      <div class="testimonial__job">
        <small>CTO</small>
      </div>
    </div>
    <div class="testimonial item">
      <div class="testimonial__quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus at corporis ea error, esse exercitationem fuga iste laboriosam minima nam natus nulla obcaecati omnis placeat, possimus quis reiciendis repudiandae suscipit?</p>
      </div>
      <div class="testimonial__img">
        <img src="../../assets/img/testimonials/testimonials-avatar-3.jpg" alt="Testimonial profile photo" class="rounded-circle" />
      </div>
      <div class="testimonial__name">
        <h5>Mike Baker</h5>
      </div>
      <div class="testimonial-job">
        <small>Developer</small>
      </div>
    </div>
    <div class="testimonial item">
      <div class="testimonial__quote">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad alias cum enim et incidunt ipsam, iusto omnis quibusdam ullam velit, veritatis? Adipisci doloribus est itaque numquam sapiente tempore velit.</p>
      </div>
      <div class="testimonial__img">
        <img src="../../assets/img/testimonials/testimonials-avatar-4.jpg" alt="Testimonial profile photo" class="rounded-circle" />
      </div>
      <div class="testimonial__name">
        <h5>John Doe</h5>
      </div>
      <div class="testimonial-job">
        <small>Designer</small>
      </div>
    </div>
  </div>

</section>
<!-- /Testimonials -->
